.btn {
    width: 120px;
    background: #F4F1BB;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 3px #ed6a5a;
    transition: .3s;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    line-height: 200%;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;
    color: #ed6a5a;
    margin: 2px;}

.btn:hover {
        
        box-shadow: 0 5px 10px #F4F1BB;
        transform: translateY(-2px);
        color: #0b0a0a;
        border: 2px solid #ed6a5a;
    
}
.btnImg{
    
    border: none;
    background: none;
    cursor: pointer;

}

.prevArrow, .nextArrow {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.btn:focus {
    outline: none;
    background:  #36C9C6;
    box-shadow: 0 7px 12px  #E6EBE0;
    transform: translateY(-3px);
    


}  