header {
    background-color: #F4F1BB;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 35vh;
}
.main {    
    font-size: 18px;   
    margin-bottom: 0%; 
    }
.container {
    padding-top: 7px;
    padding-bottom: 7px;
    
}
.title {
    color: #ed6a5a;
    padding-left: 50px;
        
}
.navigation {
    background-color: #36C9C6;
    display: flex;
    justify-content: space-around;  
  
}
.navigation li {
    display: inline-block;
    padding: 5px 30px;
    margin-left: 30px;
    margin-right: 30px;
    color: #F4F1BB;
    font-size: 16px;
    border:2px solid #ed6a5a;
    border-radius: 8px;
}

.navigation li a, navigation li a:visited {
    color: #F4F1BB;
    text-decoration: none;
    display: block;
     
}
.navigation li:hover {
    background-color: #ed6a5a;
    
}

