

.card{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid gray;
}

.container {
    max-width: 80%;
    margin: 50px auto;

    display: flex;
    flex-direction: column;}

.MainInfo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

.CountCards {
        display: flex;
        justify-content: center;
        font-size: 2em;
        color:  #36C9C6   
        ;}

.NowCount {
            color: #ED6A5A;
            
        }
    
