footer {
    background-color: #E06E85;
    height: 40px;
    margin-top: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center;   

    }
.rights {    
    font-size: 12px;    
    color: #ececee;
     
    

}



